torch==2.0.0+cu117
torchvision==0.15.1+cu117
torchaudio==2.0.0+cu117

pytorch-lightning==2.1.0
torchmetrics==1.2.0

timm==0.9.16
kornia==0.8.1
einops==0.7.0

numpy==1.26.0
scipy==1.11.3
pandas==2.1.4

opencv-python==4.7.0.72
Pillow==10.0.1
scikit-image==0.22.0

matplotlib==3.8.3
tqdm==4.66.1
PyYAML==6.0.1
h5py==3.8.0